<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
     <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" /><link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
<style>
    body{
        background-color:rgb(200, 232, 200);
    }
    .right::-webkit-scrollbar{
        display: none;
    }
</style>
<body class="">
    <div class="main ">
        
        <div class="top w-screen h-[4vw] fixed top-0 bg-green-700 z-11 text-center flex items-center gap-[40vw] px-[2vw]  py-4 ">
            <a href="/back"><i class="ri-arrow-left-s-line   text-white text-2xl"></i></a>
            <h1 class="hc text-center text-xl font-bold text-white" > Herbal Community  </h1>
        </div>
        <div class="com mt-[4vw]  flex justify-center">
            <div class="right w-scren  h-[38vw]   overflow-auto flex  flex-col px-[4vw]">
                <div class="post w-3/4  py-5">
                    <div class="up flex items-center justify-between">
                        <div class="usr  gap-[2vw] flex items-center text-white">
                            <img src="/images/websiteimages/w.png" alt="pro" class="rounded-full w-7 h-7">
                            <h6 class="font-[400] text-xs lowercase  text-zinc-700 " > RajKumari  </h6>
                         
                        </div>
                     
                    </div>
                    <div class="para   ">
                        <p class=" text-black normal-case text-s font-[400] " >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat doloremque fuga quisquam
                            asperiores voluptatibus iste et ab. Voluptas hic veritatis, reprehenderit nulla, nostrum sunt
                            fugit et officiis eveniet, accusantium exercitationem!</p>
                    </div>
                    <div class="pho">
                        <img src="/images/websiteimages/7.jpg" alt="image not found" class="w-[15vw] h-[15vw] object-cover">
                    </div>
                    <div class="act  py-[0.5vw] flex items-center justify-around text-white">
                        <div class="thumb">
                            <i class="ri-heart-3-line text-xl text-black"    ></i>
                        </div>
                        <div class="chat">
                            <i class="ri-chat-3-line text-xl text-black  "     ></i>
                        </div>
                        <div class="share">
                            <i class="ri-share-2-line text-xl text-black  "   ></i>
                        </div>
                    </div>

                </div>
            
                <div class="post w-3/4  py-5">
                    <div class="up flex items-center justify-between">
                        <div class="usr  gap-[2vw] flex items-center text-white">
                            <img src="/images/websiteimages/w.png" alt="pro" class="rounded-full w-7 h-7">
                            <h6 class="font-[400] text-xs lowercase  text-zinc-700 " > RajKumari  </h6>
                         
                        </div>
                     
                    </div>
                    <div class="para   ">
                        <p class=" text-black normal-case text-s font-[400] " >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat doloremque fuga quisquam
                            asperiores voluptatibus iste et ab. Voluptas hic veritatis, reprehenderit nulla, nostrum sunt
                            fugit et officiis eveniet, accusantium exercitationem!</p>
                    </div>
                    <div class="pho">
                        <img src="/images/websiteimages/7.jpg" alt="image not found" class="w-[15vw] h-[15vw] object-cover">
                    </div>
                    <div class="act  py-[0.5vw] flex items-center justify-around text-white">
                        <div class="thumb">
                            <i class="ri-heart-3-line text-xl text-black"    ></i>
                        </div>
                        <div class="chat">
                            <i class="ri-chat-3-line text-xl text-black  "     ></i>
                        </div>
                        <div class="share">
                            <i class="ri-share-2-line text-xl text-black  "   ></i>
                        </div>
                    </div>

                </div>


                
                <div class="add w-full rounded-full flex justify-center pb-[0.7vw]  fixed bottom-0 z-10">
                    <div class="three flex items-center justify-between bg-white rounded-full w-[80%]">
                        <input class="text w-[50vw] rounded-full  px-5 py-2 outline-none" type="text" placeholder="write about that you liked">
                       <div class="flex  gap-[2vw] px-[2vw]">
                      
                        <i class="ri-attachment-line  text-2xl  "></i>
                        <i class="ri-send-plane-2-line  text-2xl  "></i>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
