<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-sans bg-gray-100">
    
    <div class="container mx-auto px-4 py-8">

      
        <h1 class="text-3xl font-bold mb-6 text-center">Create a new remides</h1>
        <form action="#" class="space-y-4">
            <div>
                <label for="title" class="block mb-1">Remedie Title:</label>
                <input type="text" id="title" name="title" placeholder="Enter a title for your post"
                    class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
            </div>
            <div>
                <label for="ingredients" class="block mb-1">Ingredients:</label>
                <textarea id="ingredients" name="ingredients" rows="4"
                    placeholder="List the ingredients for your recipe"
                    class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"></textarea>
            </div>
            <div>
                <label for="description" class="block mb-1">Description:</label>
                <textarea id="dosage" name="dosage" rows="4" placeholder="Enter a description of your post"
                    class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"></textarea>
            </div>
            <div>
                <label for="video" class="block mb-1">Dosage Guide:</label>
                <textarea id="description" name="description" rows="4" placeholder="Enter Dosage Guide"
                    class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"></textarea>
            </div>
            <div>
                <label for="video" class="block mb-1">Choose a file:</label>
                <input type="file" id="video" name="video" accept="video/images"
                    class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
            </div>
            <button type="submit"
                class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 focus:outline-none focus:bg-green-600">Upload</button>
        </form>
    </div>
</body>

</html>
