<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-dark-color-lighten h-screen w-screen font-sans">
    <div class="main">
      <nav class="  w-full  h-[5vw] bg-green-700 text-white  flex justify-between items-center px-10 ">
        <div id="nav-logo" class="h-[5vw] w-[5vw] " >
            <img src="/images/websiteimages/loho-removebg-preview.png" alt="">
        </div  >
        <div id="nav2" class="flex gap-12">
            <a class="capitalize gilroy text-xl  " href="index.html">home</a>
            <a class="capitalize gilroy text-xl  " href="remides_dis.html">remedies</a>
            <a class="capitalize gilroy text-xl  " href="product.html">market place</a>
            <a class="capitalize gilroy text-xl  " href="community.html">community</a>
        </div>
        <div id="nav3" class="flex gap-8 items-center">
            <a class="capitalize font-[400]  text-lg bg-white text-black px-2 py-1 rounded-full  " href="new_post.html">create a remides</a>
            
            <!-- <button class="bg-white text-black rounded-full "> -->
               
            </button>
            <div id="profile" class="w-[2.4vw] h-[2.4vw] bg-white rounded-full">
                <a href="profile.html"> <img src="profile-removebg-preview.png" alt=""></a>
            </div>
        </div>
    </nav>
        <div class="container flex flex-wrap gap-[2vw] px-[2vw] py-[1vw] items-center ">
        
        
          <div class="card relative  w-72 h-96 bg-blue-500 shadow-xl rounded-lg text-white cursor-pointer">
                <div class="product-image h-64">
                    <img src="/images/websiteimages/https://i.pinimg.com/736x/e4/f1/e3/e4f1e3e05fe9d9c7f9923546e3df115f.jpg" alt="amla" class="h-full w-full object-contain">
                </div>
                <h1 class="title text-center font-[500]">Fresh Natural and organic Amla</h1>
                <div class="price text-center text-xl font-[400]">₹99/kg</div>
                <div class="btn flex justify-around items-center mt-2">
                    <button class="buy-btn bg-green-500 px-8 py-2 font-semibold transition duration-300 ease-in-out hover:rounded-full hover:bg-green-500">Buy Now</button>
                </div>
            </div>


         
        </div>
    </div>
</body>
</html>
