<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class=" w-screen h-screen bg-green-400" >
        <form class="flex  flex-col gap-10 pt-[16vw] items-center " action="/remedieForm" method="post">
            <input   class="w-60  h-8 bg-zinc-500 text-white outline-0 rounded pl-5 capitalize placeholder:text-white " type="text" placeholder="remediename" name="name" >
            <input   class="w-60  h-8 bg-zinc-500 text-white outline-0 rounded pl-5 capitalize placeholder:text-white " type="text" placeholder="productAmount" name="productAmount" >

            <input   class="w-60  h-8 bg-blue-500 text-white outline-0 rounded pl-5 capitalize " type="submit" value="button" >


        </form>
    
    </div>
</body>
</html>