<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" /><link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  
</head>
<body>
   
    <div class="top w-screen h-[4vw] fixed top-0 bg-green-700 z-11 text-center flex items-center gap-[40vw] px-[2vw]  py-4 ">
        <a href="/back"><i class="ri-arrow-left-s-line   text-white text-2xl"></i></a>
        <h1 class="hc text-center text-xl font-bold text-white" > Herbal Community  </h1>
    </div>
    <div id="remedy" class="overflow-hidden pt-[4vw] py-[2vw]">
        <div id="screen-remedy" class="flex h-[40vw] pt-[4vw] py-[2vw ] px-[5vw]">
            <div id="left" class="p-[2vw]">
                <img src="https://shop.healthyoptions.com.ph/cdn/shop/articles/88ecc276b950f2bdb1529968bf8a6cd4.jpg?v=1676985740" alt="" class="h-96 w-96 border border-gray-300 shadow-lg">
            </div>
            <div id="right" class="w-3/4 mt-[7vw]  pl-[2vw]">
                <div id="remedy-title" class="font-bold text-3xl">
                    <h2>Easy Homemade Paste for Joint Pains and Sprains</h2>
                </div>
                <div id="description" class="mt-[2vw]">
                    <p>Severe joint pain often drives individuals to rely on painkillers for immediate relief, enabling them to resume their daily routines. Yet, prolonged dependence on such medications can pose long-term health risks, as the body may develop a tolerance to their effects over time, diminishing their efficacy. Consequently, many are turning to natural remedies to mitigate joint pain, steering clear of potential side effects and health complications down the road.
                        At the forefront of these natural alternatives is turmeric, renowned for its ability to alleviate joint pain and inflammation. Its potent anti-inflammatory properties offer relief for conditions like arthritis, while its antioxidant properties combat oxidative stress, a common precursor to joint degeneration. <br>
                        Turmeric's appeal as a natural remedy for joint pain also lies in its accessibility for home preparation, making it a favored choice among those seeking relief without resorting to pharmaceuticals.</p>
                </div>
            </div>
        </div>
       
      
        <div id="content" class=" mx-10">
            <div id="ingredient">
                <h1 class="text-3xl font-bold">Ingredients:</h1>
                <ul class="mt-4">
                    <li>1 teaspoon of turmeric</li>
                    <li>A few drops of lime juice</li>
                    <li>1 teaspoon of salt</li>
                    <li>A cotton bandage</li>
                </ul>
            </div>
            <div id="method" class="mt-8">
                <h1 class="text-3xl font-bold">Description:</h1>
                <ol class="mt-4">
                    <li>Mix 1 teaspoon of turmeric, a few drops of lime juice, and 1 teaspoon of salt to make a thick paste.</li>
                    <li>Apply the paste to the area where you're feeling pain.</li>
                    <li>Wrap the area with a cotton bandage.</li>
                </ol>
            </div>
            <div id="dosage" class="mt-8">
                <h1 class="text-3xl font-bold">Dosage:</h1>
                <p class="mt-4">Use this remedy twice a day for the next 3 days.</p>
            </div>
        </div>
    </div>
</body>
</html>
