<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remedies</title>
   
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
   .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
</style>
<body>

  <div class="main w-screen h-screen">
    <nav class="  w-full  h-[5vw] bg-green-700 text-white  flex justify-between items-center px-10 ">
      <div id="nav-logo" class="h-[5vw] w-[5vw] " >
        <a href="/home">  <img src="/images/websiteimages/loho-removebg-preview.png" alt=""></a>
      </div  >
      <div id="nav2" class="flex gap-12">
        <a class="capitalize gilroy text-xl  " href="/home">home</a>
                <a class="capitalize gilroy text-xl  " href="/remedieSarch">remedies</a>
                <a class="capitalize gilroy text-xl  " href="/product">market place</a>
                <a class="capitalize gilroy text-xl  " href="/community">community</a>
      </div>
      <div id="nav3" class="flex gap-8 items-center">
          
          <!-- <button class="bg-white text-black rounded-full "> -->
             
          </button>
          <div id="profile" class="w-[2.4vw] h-[2.4vw] bg-white rounded-full">
            <a href="/profile"> <img src="/images/websiteimages/profile-removebg-preview.png" alt=""></a>
          </div>
      </div>
  </nav>
<div class="card-container flex-col gap-2 flex px-[3vw] py-[4vw]"   >
 
<div class="card text-center w-[100%] h-[20vw] flex items-center justify-between px-[7vw]  "  >
  
<div class="flex flex-col items-center justify-between ">
  <div class="imgContain  w-[13vw] h-[13vw] mt-4   " >
  <img class="w-full h-full object-fit" src="/images/websiteimages/7.jpg" alt="">
 
</div>
<div class="upload_user mt-[2vw] flex items-center justify-center gap-2 ">
  <div class="h-[2vw] w-[2vw] ">
    <img class=" h-full w-full object-fit rounded-full" src="/images/websiteimages/w.png" alt="*">
  </div>
    <button class="up_user">Geeta</button>
    
  </div>
</div>
<div>
  <h3>Stop hair loss in 8days</h3>
      <div class="dis mt-[2vw]">
        <p>Lorem ipsum Lorem ipsum dolor sit amet. amet, consectetur adipisicing elit <br> Qui, voluptate fugiat. Sunt beatae eaque minima!</p>
      </div>
     
      
</div>
</div>
</div>

</div>

</div>
 

</div>
   
   
    

     
    </div>
</body>
</html>